:root {
    --color-default: #000000;
    --color-second: #0067ac;
    --color-white: #595959;
    --color-text: #d1d1d1;
    --color-body: #1e1e1e;
    --color-light: #ffffff;
}
body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: Arial, sans-serif;
}

.card-container {
    max-width: 900px;
    margin: 20px auto;
}

.post-card {
    background-color: #101010;
    border: none;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 25px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Hover Effect */
.post-card:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #000000;
    cursor: pointer;
}

.post-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ffffff;
}

.post-meta {
    font-size: 0.9rem;
    color: #a5a5a5;
}

.post-meta span {
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.post-meta .bi {
    margin-right: 5px;
}

.reaction-count {
    background-color: #3b3b3b;
    color: #fff;
    font-size: 0.8rem;
    border-radius: 12px;
    padding: 3px 8px;
    margin-right: 5px;
}


.top-bar {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: var(--color-light);
}

.search-input {
    align-items: center;
    background-color: var(--color-body);
    border: 1px solid var(--color-light);
    border-radius: 20px;
    padding: 10px 15px;
    color: var(--color-white);
    width: 80%;
    /* max-width: 500px; */
}

.ask-question-btn {
    background-color: var(--color-second);
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-text);
    margin:0;
    text-shadow: none;
    border-radius: 20px;
}

.ask-question-btn:hover {
    background-color: #0176c4;
    transition: all;
    transition-duration: 300ms;
}
