:root{
  --color-default:#000000;
  --color-second:#0067ac;
  --color-white:#dcdcdc;
  --color-text:#fff;
  --color-body:#1e1e1e;
  --color-light:#ffffff;
}

body{
  background-color: var(--color-body);
}