<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Your Question</title>
    {% load static %}
    <link href="{% static 'css/add_question.css' %}" rel="stylesheet" />
    <script src="{% static 'js/register.js' %}"></script>
</head>
<body>

<div class="container">
    <h1>Post Your Question</h1>
    <form id="questionForm" action="#" method="POST">
        {% csrf_token %}
        <label for="tags">Question Title</label>
        <input type="text" name="question_title" required placeholder="Enter title">
        <label for="question">Your Question:</label>
        <textarea id="question" name="question" required placeholder="Type your question here..."></textarea>

        <input type="submit" value="Submit Question" ></centre>
    </form>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <p>Are you ready to submit your question?</p>
        <button onclick="submitForm(document.getElementById('questionForm'))">Yes</button>
        <button onclick="closeModal()">No</button>
    </div>
</div>

</body>
</html>