<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <title>Document</title>
    
</head>
<body>
    <div class="header">
        <div class="logo">MawaHub</div>

        <div class="search-container">
          <input type="text" placeholder="Search...">
            <button type="submit">Search</button>
         
          
        </div>

        <div class="dropdown pb-4">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">loser</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <div class="content">
        <div class="sidebar">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0 ">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="bi bi-question-circle"></i> <span class="ms-1 d-none d-sm-inline">Questions</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Post</span> Qs </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Explore</span> Qs </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Add further</span></a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">About Us</span> </a>
                    </li>
                </ul>
                
            </div>
        </div>

        <div class="main-content">
            <h3>Welcome to MawaHub!</h3>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia culpa iste nesciunt numquam odio mollitia aspernatur repellat eveniet dolorum facilis rerum dignissimos velit quas nostrum nihil, voluptates laudantium quam. Ex!
            </p>
            <ul class="list-unstyled">
                <li><h5>A web Page!</h5> Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ducimus optio laudantium voluptate corporis sunt architecto veniam eaque
                    <p>
                        Losed incidunt deserunt maxime, necessitatibus beatae praesentium asperiores ex. Voluptate alias hic ipsum sequi ut non, minima blanditiis vel sit, sapiente in odit corporis asperiores beatae est nihil totam.
                        Aut, amet, quas rem unato facilis doloremque? Voluptates sequi ut eos dolores minima ratione dicta quidem maiores, voluptatibus, impedit minus, laborum doloribus laboriosam nam. Provident, dolorum recusandae!
                    </p>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
