<!DOCTYPE html>
<html lang="en">
<head>
  <title>Responsive Sidebar</title>
  <!-- Link Styles -->
  <link rel="stylesheet" href="style.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="sidebar">
    <div class="logo_details">
      <i class="bx bxl-audible icon"></i>
      <div class="logo_name">Mawa Hub</div>
      <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav-list">
      <li>
        <i class="bx bx-search"></i>
        <input type="text" placeholder="Search...">
         <span class="tooltip">Search</span>
      </li>
      <li>
        <a href="#">
          <i class="bx bxs-home"></i>
          <span class="link_name">Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bx-user"></i>
          <span class="link_name">User</span>
        </a>
      
      </li>
      <li>
        <a href="#">
          <i class="bx bx-question-mark"></i>
          <span class="link_name">Unanswered Questions</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="bx bxs-phone"></i>
          <span class="link_name">Contact Us</span>
        </a>
      </li>
      
      <li>
        <a href="#">
          <i class="bx bx-cog"></i>
          <span class="link_name">Settings</span>
        </a>
       
      </li>
     
    </ul>
  </div>
  <section class="home-section">
  </section>
  <!-- Scripts -->
  <script src="script.js"></script>
</body>
</html>