{% extends "root.html" %}
{% load static %}
{% load mytags %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/the_question_page.css' %}">
{% endblock stylesheet %}

{% block content %}
<div class="container mt-5">
  <!-- Question Section -->
  <div class="card mb-4">
      <div class="answer-header">
          <img src="https://via.placeholder.com/35" alt="User Avatar" class="user-avatar">
          <h6 class="card-subtitle">{{ question.author.username }}</h6><span class="muted">{{ question.date | to_timeago }}</span>
    </div>
    <h4 class="card-title">{{ question.title }}</h4>
    <p class="card-text">{{ question.question }}</p>
    <div class="votes">
      <button type="button" class="upvote">⬆</button>
      <span class="score">{{ question.score }}</span>
      <button type="button" class="downvote">⬇</button>
    </div>
  </div>

  <!-- Answers Section -->
  <h5 class="mb-3">Answers</h5>
  <div class="answers-section">
    <!-- Single Answer -->
    {% for answer in answers %}
      <div class="card">
        <div class="answer-header">
          <img src="https://via.placeholder.com/35" alt="User Avatar" class="user-avatar">
          <h6 class="card-subtitle">{{ answer.author.username }}</h6><span class="muted">{{ answer.date | to_timeago }}</span>
        </div>
        <pre class="card-text">{{ answer.answer }}</pre>
        <div class="votes">
          <button type="button" class="upvote">⬆</button>
          <span class="score">{{ answer.score }}</span>
          <button type="button" class="downvote">⬇</button>
          <button type="button" class="btn btn-outline-secondary btn-sm ml-auto reply-btn">Reply</button>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
