{% extends 'base.html' %}
{% load static %}{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/userProfile.css' %}" />
    <title>Document</title>
    {% endblock stylesheet %}

{% block content %}
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-md-12">
          <div class="grid profile">
            <div class="grid-header row" style="background: #1e1e1e; color: #d1d1d1;">
              <div class="col-2">
                <!-- <p class="text-center">Hrithik</p> -->
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  class="img-circle img-fluid"
                  alt="User Avatar"/>
                  <p class="text-center name">Hrithik Roshan</p>
              </div>
              <div class="col-7">
                <div class="row mt-4">
                  <div class="col-12 col-md-6 text-center mb-6 mb-md-0">
                    <h1 class="display-4">46.2K</h1>
                    <p class="fw-semibold">Answers Posted</p>
                    <button type="button" class="btn btn-success mt-2">
                      <i
                        class="fa fa-plus-circle me-2"
                        aria-hidden="true"
                      ></i>
                      Answers
                    </button>
                  </div>

                  <div class="col-12 col-md-6 text-center mb-6 mb-md-0">
                    <h1 class="display-4">127</h1>
                    <p class="fw-semibold">Questions Posted</p>
                    <button type="button" class="btn btn-info mt-2">
                      <i class="fa fa-user me-2" aria-hidden="true"></i>
                      Questions
                    </button>
                  </div>
              </div>
             
            </div>
            <div class="grid-body" style="background-color: #1e1e1e; color: #fff;">
              
              <div class="tab-content">
                <div class="tab-pane fade show active" id="profile">
                  <p class="lead"><b>My Profile</b></p>
                  <hr />
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <strong>Email:</strong>
                        <a href="mailto:jwilliams@gmail.com">email@gmail.com</a>
                      </p>
                      <p><strong>About:</strong> Web Designer / UI Designer</p>
                      <p>
                        <strong>Joined on:</strong> July 24<sup>th</sup>, 2010
                      </p>
                      <p>
                        <strong>Hobbies:</strong> Read books, hang out, learn
                        history, making website
                      </p>
                      <p>
                        <strong>Skills:</strong>
                        <span class="badge bg-primary">HTML</span>,
                        <span class="badge bg-primary">CSS</span>,
                        <span class="badge bg-primary">JavaScript</span>,
                        <span class="badge bg-primary">jQuery</span>,
                        <span class="badge bg-primary">AJAX</span>,
                        <span class="badge bg-primary">PHP</span>,
                        <span class="badge bg-primary">Ruby</span>,
                        <span class="badge bg-primary">Python</span>,
                        <span class="badge bg-primary">C</span>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p><strong>Address:</strong> xyz City, NY, USA</p>
                      <p><strong>Phone:</strong> (123) 456-5644</p>
                      <p><strong>Reputation:</strong> 1600 </p>
                    </div>
                  </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}