{% extends 'base.html' %}
{% load static %}{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'css/userProfile.css' %}" />
    <title>Document</title>
    {% endblock stylesheet %}

{% block content %}
    <div class="container bootstrap snippets bootdey">
      <div class="row">
        <div class="col-md-12">
          <div class="grid profile">
            <div class="grid-header row" style="background: #1e1e1e;">
              <div class="col-2">
                <img
                  src="https://bootdey.com/img/Content/avatar/avatar1.png"
                  class="img-circle img-fluid"
                  alt="User Avatar"
                />
              </div>
              <div class="col-7">
                <h3>John Doe</h3>  
                <p>Website Developer, Programmer</p>
                <p>xyz City, NY, USA</p>
              </div>
              <div class="col-3 text-end">
              </div>
            </div>
            <div class="grid-body" style="background-color: #1e1e1e; color: #fff;">
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    href="#profile"
                    data-bs-toggle="tab"
                    >Profile</a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#settings" data-bs-toggle="tab"
                    >Settings</a
                  >
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="profile">
                  <p class="lead"><b>My Profile</b></p>
                  <hr />
                  <div class="row">
                    <div class="col-md-6">
                      <p>
                        <strong>Email:</strong>
                        <a href="mailto:jwilliams@gmail.com">email@gmail.com</a>
                      </p>
                      <p><strong>About:</strong> Web Designer / UI Designer</p>
                      <p>
                        <strong>Hobbies:</strong> Read books, hang out, learn
                        history, making website
                      </p>
                      <p>
                        <strong>Skills:</strong>
                        <span class="badge bg-primary">HTML</span>,
                        <span class="badge bg-primary">CSS</span>,
                        <span class="badge bg-primary">JavaScript</span>,
                        <span class="badge bg-primary">jQuery</span>,
                        <span class="badge bg-primary">AJAX</span>,
                        <span class="badge bg-primary">PHP</span>,
                        <span class="badge bg-primary">Ruby</span>,
                        <span class="badge bg-primary">Python</span>,
                        <span class="badge bg-primary">C</span>
                      </p>
                    </div>
                    <div class="col-md-6">
                      <p><strong>Address:</strong> xyz City, NY, USA</p>
                      <p><strong>Phone:</strong> (123) 456-5644</p>
                      <p>
                        <strong>Reputation:</strong>
                        <span class="text-success"
                          ><i class="fa fa-angle-up"></i> 2000</span
                        >
                      </p>
                      <p>
                        <strong>Rating:</strong>
                        <span class="text-warning">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star-half-o"></i>
                        </span>
                      </p>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12 col-md-6 text-center mb-6 mb-md-0">
                      <h1 class="display-4">46.2K</h1>
                      <p class="fw-semibold">Answers Posted</p>
                      <button type="button" class="btn btn-success mt-2">
                        <i
                          class="fa fa-plus-circle me-2"
                          aria-hidden="true"
                        ></i>
                        Answers
                      </button>
                    </div>
                    <div class="col-12 col-md-6 text-center mb-6 mb-md-0">
                      <h1 class="display-4">127</h1>
                      <p class="fw-semibold">Questions Posted</p>
                      <button type="button" class="btn btn-info mt-2">
                        <i class="fa fa-user me-2" aria-hidden="true"></i>
                        Questions
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="settings">
                  <p class="lead">My Settings</p>
                  <hr />
                  <div class="row">
                    <div class="col-md-12">
                      <form>
                        <div class="row mb-3">
                          <label class="col-sm-4 col-form-label"
                            >Phone Notifications</label
                          >
                          <div class="col-sm-2">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="phoneNotifications"
                            />
                          </div>
                          <label class="col-sm-2 col-form-label"
                            >Mail Notifications</label
                          >
                          <div class="col-sm-2">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="mailNotifications"
                            />
                          </div>
                        </div>
                        
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}